@import "../vars/vars.scss";
@import "../mixins/mixins.scss";

.car {
    padding: 20px 0;
    border: 1px solid green;
    margin-bottom: 20px;

    .car_main_title {
        padding: 20px 0;
        font-size: 30px;
        overflow: hidden;

        span {
            font-size: 30px;
        }
    }

    .car_price {
        font-size: 30px;
    }

    .car_text {
        font-size: 20px;

        span {
            font-size: 20px;
        }
    }

    .car_color {
        font-size: 20px;
        color: blue;
        font-weight: bold;
    }

    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .car_input {
            padding: 20px;
            outline: none;
            margin: 20px 0;

            &.green {
                border: 5px solid green;
            }

            &.red {
                border: 5px solid red;
            }
        }
    }

    .car_btn_wrap {
        padding: 20px;

        .car_btn {
            @include btn(blue, #fff, 16px, 20px, 0 20px);
        }
    }
}