@import "../../../mixins/mixins.scss";

.profileWrap {
    .backgroundImage {
        @include image;
        background-image: url("../../../media/space.jpg");
        padding: 50px 0;
    }

    .user {
        display: grid;
        padding-top: 20px;
        grid-template-columns: 100px 1fr;
        grid-gap: 20px 0;

        .imgUser {
            width: 100px;
            height: 100px;
        }

        .userInfoWrap {
            padding-left: 20px;

            .userInfo {
                padding-bottom: 10px;
                font-size: 20px;
            }
        }
    }
}