@import "../../../mixins/mixins.scss";

.mymessage {
	display: grid;
	grid-template-columns: 100px 1fr;

	.img {
		@include image;
		background-image: url("../../../media/profile.jpg");
		padding: 50px;
		width: 0;
		align-self: start;
	}

	.textWrap {
		padding-left: 20px;
		display: grid;
		grid-template-rows: 1fr 50px;

		.text {
			font-size: 20px;
			line-height: 150%;
		}

		.answer {
			@include btn(transparent, #000, 16px, 20px 0, 0);
			text-align: start;
		}
	}
}