.profile {
    display: grid;
    grid-template-columns: minmax(40px, 100px) 1fr;
    justify-content: start;
    grid-gap: 0 20px;

    .profileImgWrap {
        .profileImg {
            width: 100px;
            height: 100px;
        }
    }

    .profileInfo {
        p {
          font-size: 20px;
          padding: 5px 0;
        }
    }
}