@import "../vars/vars.scss";
@import "../mixins/mixins.scss";

.page {
    text-align: center;
    display: block;

    .page_title {
        font-size: 30px;
    }

    .page_btn_change_title {
        @include btn(blue, #fff, 16px, 20px, 20px);
    }
}