@import "../../mixins/mixins.scss";

.header {
	background: green;
	padding: 50px;
	grid-area: header;
	margin-bottom: 20px;

	.logo {
		@include image;
		background-image: url("https://cdn.svgporn.com/logos/facebook.svg");
		padding: 20px;
	}
} 