@mixin btn($bg, $color, $fontSize, $padding, $margin) {
    background-color: $bg;
    color: $color;
    font-size: $fontSize;
    padding: $padding;
    margin: $margin;
    outline: none;
    border: 0;
    transition: all .3s ease;
    cursor: pointer;

    &:active {
        transform: scale(.95);
    }
}


@mixin image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}