@import "../mixins/mixins.scss";

::-webkit-scrollbar {
	background-color: grey;
}

::-webkit-scrollbar-thumb {
	width: 20px;
	height: 20px;
	background-color: #ccc;
}

.app {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "header header" "content content";

	.content {
		grid-area: content;

		.overlay {
			display: grid;
			grid-template-columns: 20% 80%;
			grid-gap: 0 20px;
		}
	}
}