* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Roboto;
    font-size: 14px;
    color: #000;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.active {
    color: red!important;
}

.active-page {
    font-size: 25px!important;
}