@import "../../../mixins/mixins.scss";

.myPost {
	display: grid;
	grid-template-columns: 100px 1fr;

	.img {
		@include image;
		cursor: pointer;
		background-image: url("../../../media/profile.jpg");
		padding: 50px;
		width: 0;
	}

	.textWrap {
		display: grid;
		grid-template-columns: 1fr 70px;

		.text {
			padding: 0 20px;
			font-size: 20px;
			line-height: 150%;
		}	

		.likeWrap {
		    display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-content: start;
			
			.like {
				@include btn(transparent, #000, 0, 0, 0);
					
				span {
					font-size: 30px;
					color: #ccc;
				}		
			}
		}

		.likeCounter {
			padding-left: 20px;
			font-size: 30px;
			color: #000;
		}
	}
}