@import "../../../mixins/mixins.scss";

.myPost {
	display: flex;
	width: 100%;
	padding: 10px 0;

	.img {
		@include image;
		cursor: pointer;
		background-image: url("../../../media/profile.jpg");
		padding: 50px;
		width: 0;
		align-self: flex-start;
	}

	.textWrap {
		display: flex;
		justify-content: space-between;
		width: 100%;

		.text {
			padding: 0 20px;
			font-size: 20px;
			line-height: 150%;
		}	

		.likeWrap {
		    display: flex;
    		align-items: flex-start;
    		justify-content: flex-end;
			
			.like {
				@include btn(transparent, #000, 0, 0, 0);
					
				span {
					font-size: 30px;
					color: #ccc;
				}		
			}
		}

		.likeCounter {
			padding-left: 20px;
			font-size: 30px;
			color: #000;
		}
	}
}