.listPage {
    text-align: center;

    span {
        font-size: 20px;
        padding: 0 10px;
        cursor: pointer;
        transition: all .3s ease;
    }

    .selectedItem {
        font-size: 30px;
    }
}