@import "../../../mixins/mixins.scss";

.user {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 0 20px;
    padding: 20px 0;

    .otherItem {
        .img {
            width: 100px;
            height: 100px;
        }

        .btnFollowing {
            @include btn(green, #fff, 16px, 10px 20px, 30px 20px 0 0);
            border: 1px solid #ccc;
            border-radius: 5px;
            letter-spacing: .7px;
            text-transform: capitalize;
        }
    }

    .information {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: space-between;
        align-self: start;
        border-radius: 5px;
        border: 1px solid #c9c9c9;
        padding: 10px;

        p {
            font-size: 20px;
            color: #8b8b8b;
            text-transform: capitalize;
            padding-bottom: 20px;
        }

        .location {
            justify-self: end;
        }
    }
}